body {
    margin: 60px auto;
    width: 61.8%;
	  height: 100%;
    background-color: #e0e0eb;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

footer ul {
  position:absolute;
  left:19.1%;
  width:100%;
  bottom:50%;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align: center;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
    text-align: center;
}
footer {
    border-top: 1px white;
    font-size: .8em;
    width: 100%;
    position:absolute;
    left: 0;
    bottom: 0;
    background-color: #d0d0e1;
    height: 10px;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.container {

}

.center {
  margin:auto;
  width: 60%;
  border: 3px solid #73AD21
  padding: 5px;
}
