html{
  margin: 0;
  font-size: 10px;
}

/*@media only screen and (min-width: 401px){
    html {
        font-size: 12px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 14px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 17.5px !important; 
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 18px !important; 
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 20px !important; 
    }
}*/

/*@media only screen and (min-width: 1000px){
    html {
        font-size: 10px !important; 
    }
}*/

body {
    max-width: 1100px;
    margin:auto;
    background-color: #e0e0eb;
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue", STHeiti, Helvetica, Tahoma, Arial, "Microsoft Yahei", sans-serif;
}

main {
  font-size: 1.8rem;
  line-height: 1.8;
  background-color: white;
  box-shadow: 0 1rem 1rem rgba(255,255,255,.25);
  color: #4d4d4d;
  margin-bottom: 0rem;
  padding: 4rem 2rem;
}


nav ul{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    list-style: none;
    font-weight: bold;
    margin-top: 0rem;
    margin-left: 0rem;
    margin-bottom: 0rem;
}
nav li{
    display: inline;
    margin-right: 2rem;
    font-size: 2.4rem;
}

a {
    text-decoration: none;
    color: #33cc33;
}
a:hover {
    text-decoration: none;
    color:#ffaa00;
}



main h1{
  text-align: center;
  text-shadow: 0.6rem 0.6rem 0.6rem grey;
  color: #4d4d4d;
  font-size: 2.4rem
}


main h2 h3{
  color:#4d4d4d;
  font-size: 2.2rem;
  padding: 1rem 1rem;
}

blockquote{
  border-left: 0.6rem solid darkgrey;
  padding-left: 0.6rem;
/*  color: lightskyblue;*/
  margin: 1rem 1.2rem;
}

p{
  padding: 0.8rem 0.6rem;
}

em, strong{
  font-weight: bolder;
  font-size: 1.1;
  color: black;
}

nav{
  position: fixed;
  background-color: #e0e0eb;
  margin: 0px;
  width: 1100px;
  opacity: 1;
}

code{
  font-size: 2.2rem;
  padding: 1rem 1rem;
}
