html{
  margin: 0;
  font-size: 10px;
}

/*@media only screen and (min-width: 401px){
    html {
        font-size: 12px !important;
    }
}
@media only screen and (min-width: 428px){
    html {
        font-size: 14px !important;
    }
}
@media only screen and (min-width: 481px){
    html {
        font-size: 17.5px !important;
    }
}
@media only screen and (min-width: 569px){
    html {
        font-size: 18px !important;
    }
}
@media only screen and (min-width: 641px){
    html {
        font-size: 20px !important;
    }
}*/

/*@media only screen and (min-width: 1000px){
    html {
        font-size: 10px !important;
    }
}*/

body {
    max-width: 1100px;
    margin:auto;
    background-color: #e0e0eb;
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue", STHeiti, Helvetica, Tahoma, Arial, "Microsoft Yahei", sans-serif;
}

main {
  font-size: 1.4rem;
  line-height: 1.8;
  background-color: white;
  box-shadow: 0 1rem 1rem rgba(255,255,255,.25);
  color: #4d4d4d;
  margin-bottom: 0rem;
  padding: 4rem 2rem;
}


nav ul{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 2rem;
    list-style: none;
    font-weight: bold;
    margin-top: 0rem;
    margin-left: 0rem;
    margin-bottom: 0rem;
}
nav li{
    display: inline;
    margin-right: 2rem;
    font-size: 1.8rem;
}

a {
    text-decoration: none;
    color: #33cc33;
}
a:hover {
    text-decoration: none;
    color:#ffaa00;
}



main h1{
  text-align: center;
  text-shadow: 0.6rem 0.6rem 0.6rem grey;
  color: #4d4d4d;
  font-size: 2.3rem
}


main h2, h3{
  color:#4d4d4d;
  font-size: 2rem;
  padding: 1rem 1rem;
}

blockquote{
  border-left: 0.5rem solid rgb(234, 234, 234);
  box-sizing: border-box;
  /* padding-left: 0.6rem; */
  /* color: lightskyblue; */
  padding: 0.9rem 0.6rem 0.3rem 0.6rem;
  margin: 0.1rem 1rem 2.1rem 1rem;
}

p{
  padding: 0.8rem 0.6rem;
  margin: 1.2rem 0rem 0.8rem;
}

em, strong{
  font-weight: bolder;
  font-size: 1.5rem;
  color: black;
}

nav{
  position: fixed;
  background-color: #e0e0eb;
  margin: 0px;
  width: 1100px;
  opacity: 1;
}

hr {
  margin-top: 10px;
  margin-bottom: 16px;
  margin-left: 6px;
  margin-right: 6px;
  white-space: normal;
  max-width: 100%;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-top-style: solid;
  border-top-color: rgb(234, 234, 234);
  height: 1px;
  color: rgb(51, 51, 51);
}

.highlight {margin: 0; }

pre { margin: 2px; padding: 5px; overflow-x: scroll;}

code{
  font-size: 1.2rem;
  line-height: 0.5rem;
}

img {
    max-width: 95%;
    max-height: 100vh;
    margin: auto;
}
