html{
  margin: 0;
}

body {
    max-width: 1100px;
    margin:auto;
    font-size: 100%;
    background-color: #e0e0eb;
}

nav ul{
    padding: 0px;
    list-style: none;
    font-weight: bold;
    margin: 0px auto;
    padding: 10px 0 10px 15px;
}
nav ul li{
    display: inline;
    margin-right: 20px;
    font-size: 1.8em;
}

a {
    text-decoration: none;
    color: #33cc33;
}
a:hover {
    text-decoration: none;
    color:#ffaa00;
}

main{
  background-color: white;
  box-shadow: 0 1rem 1rem rgba(255,255,255,.25);
  color: #4d4d4d;
  margin-bottom: 60px;
  padding: 60px 40px;
}

main h1{
  text-align: center;
  text-shadow: 6px 6px 6px grey;
  color: #4d4d4d;
}

main h2{
  color:#4d4d4d;
  font-size: 1.2em;
}

blockquote{
  border-left: 3px solid lightblue;
  padding-left: 6px;
  color: lightskyblue;
  margin: 10px 12px;
}

p{
  line-height: 2em;
  padding: 10px 10px;
}

em, strong{
  font-weight: lighter;
  color: #66e0ff;
}

nav{
  position: fixed;
  background-color: #e0e0eb;
  margin: 0px;
  width: 1100px;
  opacity: 0.6;
}

code{
  font-size: 1.5em;
  line-height: 1.5em;
  padding: 10px 20px;
}
