textarea{
	display: block;
	width: 66%;
	margin: 60px auto;
	outline: none;
	resize: none;
	overflow: auto;
	border: none;
	padding-left: 10px;
	font-size: 18px;
}

textarea:focus{
	border-left: solid 2px lightblue;
}