<!DOCTYPE html>
	<html>
		<head>
			<meta name="description" content="博客">
			<meta name="Keywords" content="西了意，个人博客">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/post.css">
			<link rel="stylesheet" type="text/css" href="/css/pygments.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
			<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/" title="回到主页"><i class="fas fa-home"></i></a></li>
	        		<li><a href="/blog" title="返回博客列表"><i class="fas fa-list"></i></a></li>
	    		</ul>
			</nav>
			<main>

				{{ content }}

		 	    <div class="push"></div>
			</main>
		</body>
	</html>
