<!DOCTYPE html>
	<html>
		<head>
			<meta name="description" content="博客">
			<meta name="Keywords" content="西了意，个人博客">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/post.css">
			<link rel="stylesheet" type="text/css" href="/css/pygments.css">
			<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">回到主页</a></li>
	        		<li><a href="/blog">返回博客列表</a></li>
	    		</ul>
			</nav>
			<main>

				{{ content }}

		 	    <div class="push"></div>
					<br />
					<em style="margin: 0; font-size: 1rem; color: lightgray; padding-left: 1rem;">不知是该恭喜，还是该怎样，总之阅读到该文的，你是第 <span id="busuanzi_value_page_pv"></span> 人。每一次刷新，都是不同的自己。</em>
					<hr />
			</main>
		</body>
	</html>
